<<<<<<< HEAD
label.has-error {
    font-weight: normal;
    font-style: normal;
    color: red;
    margin: 5px 0px;
}
=======
label.has-error {
    font-weight: normal;
    font-style: normal;
    color: red;
    margin: 5px 0px;
}
>>>>>>> origin/master
